html { 
		width:100%;
		height: 100%; 
	}
	
	.gallery-picture
	{
	max-width: 250px;
	max-height: 250px;
	float:left;
	margin: 3px;
	}
.gallery-picture.admin:hover
	{
	opacity: 0.2;
	}
	
body{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
		background: url(/static/images/tlo2.jpg) no-repeat center center; 
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow-x:hidden; 
	}
	
 h1{
		font-family: 'Shojumaru', sans-serif;
		text-align: center;
		color: white;
		font-weight: bold;
		font-size:2.5vmax;
	} 

p{
		text-align:justify;
		color: #F0F0F0 ; 
		font-weight: bold;
		font-size:1.6em;
	}

ul, ul li {
		display: block;
		list-style: none;
		margin: 0;
		padding:0;
		width:100%;
	}

ul li {
		width: 100%;
		height: 100%;
	}

ul a:link, ul a:visited {
		display: block;
		text-decoration: none;
		text-align: center;
		font-family: 'Shojumaru', sans-serif;
		font-weight: bold;
		font-size:1.3vmax;
		color: #FFFF00;
	}

ul a:hover {
		color: #3B0B0B;
	}

#main{
		width:100%;
		height: 100%;
		margin:0;
		padding:0;
		font-size: 100%;
	}

 #left{
		position: fixed;
		top: 0px;
		left:0px;
		float:left;
		width:4%;
		height:auto;
		padding:0.3%;
	}
  
#left-center {
		position: fixed;
		left: 4%;
		float:left;
		width:30%;
		height:100%;
		padding:0;
		background: url(/static/images/panel1.png);
		background-size: 80% 100%;
		background-repeat: repeat-y;
		background-position: center;
		font-size:80%;
    }
	  
#right-center{
	  	float:right;
		width:65%;
		height: 100%;
		padding-right: 2%;
		
		paddding: 10%;
	}

#logout{
	float:right;
	width:25%;
	height:10%;
}


#content{
		width:100%;
		min-height: 70%;
		padding: 0;
		margin-top: 20%;
		margin-bottom: 10%;
		margin-right:6%;
		/*background: #cc0000; Old browsers */
		background: rgb(144,0,0) ; /* Fallback */
    background: rgba(144, 0, 0, 0.8);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 10%;
}	

#content::-webkit-scrollbar{
		background-color: transparent;
	}
 
#jezyk{
		float:right;
        position:relative;
		left:25%;
		width:5%;
        z-index:1;
		padding-top:0.5%;
	}

#line{
		padding-top:1%;
		padding-bottom:1%;
		padding-left:15%;
		padding-right:15%;
		width:70%;
	}

#table{
		margin: 4%;
		text-align:justify;
		color: #F0F0F0 ; 
		font-weight: bold;
		font-size:120%;
	}

.btn {
		float:left;
		-webkit-border-radius: 3;
		-moz-border-radius: 3;
		border-radius: 2px;
		border:none;
		text-shadow: 4px 2px 3px black;
		font-family: 'Shojumaru', sans-serif;
		font-size: 130%;
		color: #FFFF00;
		padding: 9px 20px 10px 20px;
		text-decoration: none;
		width:33%;
		height:2.5cm;
		background-color: Transparent;
	}

.btn:hover {
		background: #B80000;
		opacity:0.8;
		text-decoration: none;
	}






